#tags {
    position: relative;
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
    grid-template-rows: auto auto;
    column-gap: 20px;
    z-index: 98;
}

.tag {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    line-height: 20px;
    cursor: pointer;
    background: var(--color-primary);
}

.tag-close {
    display: flex;
    justify-content: center;
    align-items: center;
}
